:root {
  --transition-time: 0.6s;
}

.container {
  margin: 20px auto;
  max-width: 960px;
}

.card {
  position: relative;
}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  cursor: pointer;
  transition: all var(--transition-time);
}

.front {
  transform: rotateY(-180deg);
  z-index: -1;
  opacity: 0;
  transition: none !important;
}

.back {
  opacity: 1;
  transform: rotateY(0deg);
  transition: all var(--transition-time) !important;
}

.front-flip {
  z-index: 0;
  opacity: 1;
  transform: rotateY(0deg);
  transition: all var(--transition-time) !important;
}

.back-flip {
  z-index: -1;
  opacity: 0;
  transform: rotateY(180deg);
  transition: none !important;
}
